

a {
	color: #0c387d;
	font-weight: bold;
}

ul {
    padding: 15px;
}

ul li::before {
  display: inline-block;
  margin-right: 0.2rem;
}

ul li.listContact::before {
	content: "📁";
  display: inline-block;
  margin-right: 0.2rem;
}

.social-left {
    background-color: #b5b5b5;
    padding: 10px;
    border-radius: 0 0 0 5px;
    background: rgb(134,136,139);
    background: linear-gradient(180deg, rgba(134,136,139,1) 0%, rgba(166,129,129,1) 100%);
}

.social-right {
    background-color: #b5b5b5;
    padding: 10px;
    border-radius: 0 0 5px 0;
    background: rgb(134,136,139);
    background: linear-gradient(180deg, rgba(134,136,139,1) 0%, rgba(166,129,129,1) 100%);
}

.headerContainer {
    width: 100%;
    background: linear-gradient(180deg, rgba(134,136,139,1) 0%, rgba(166,129,129,1) 100%);
    -webkit-box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
}

.headerBar {
    text-align: center;
    margin-bottom: -15px;
    padding: 0.6em;
    z-index: 9;
    background-color: #86888B;
    background: rgb(134,136,139);
    background: linear-gradient(180deg, rgba(134,136,139,1) 0%, rgba(166,129,129,1) 100%);
    -webkit-box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    border-radius: 0 0 9px 9px;
}

.dateTheme {
    background-color: #86888B;
    background: rgb(134,136,139);
    background: linear-gradient(0deg, rgba(134,136,139,1) 0%, rgba(166,129,129,1) 100%);
    -webkit-box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.39);
}

.sectionHeader {
    display: block;
    border-radius: 5px; 
}

.sectionHeader2 {
    margin-top: 5px;
    display: block;
    padding: 15px;
    border-radius: 5px;
}

.sectionHeader h2 {
    margin: 0 15px;
    font-size: 1.8em;
    font-family: "Ink Free", "Kalem", cursive, script;
    color: 707070;
    display: inline-block;
    line-height: 1.4;
    border-top: 3px solid #707070;   
    background-color: rgba(255,255,255,0.8);
    border-radius: 0 0 5px 5px;
    padding: 0 15px 5px 15px;

}

.sectionHeaderH2Wrapper {
    margin: 0 15px;
    display: block;
    border-top: 1px solid #707070;    
}

.sectionBody {    
    width: 100%;
    border-radius: 5px;
	padding-bottom: 25px;

}

.projectSeperator {
	margin-top: 45px;
}

.projectSeperator hr {
	width: 70%;
	height: 2px;
	color: #86888B;
}

.sectionBody p {
    margin: 1.5em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.sectionBody h1 {
    margin: 1.2em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    text-align: center;
}

.sectionBody h3 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.sectionBody h4 {
    margin: 1em;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1em;    
}

.resume {    
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    position: relative;
    border-radius: 5px;
	padding-bottom: 25px;

}

.resume p {
    font-size: 0.9em;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.resume h1 {
    margin: 1.3em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    text-align: center;
}

.resume h2 {
    margin: 0;
    margin-bottom: 1.3em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    text-align: center;
}

.resume h3 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 1em;
    text-align: center;
}

.resume h4 {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    margin-left: 1em;
    text-align: left;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1em;   
    font-weight: bold;
}



.sectionBodyInsert p {
    margin: 0;
    margin-left: 1em;
    margin-right: 0.1em;
    font-size: 0.9em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.sectionBodyInsert h2 {
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.sectionBodyInsert h3 {
    margin-top: 1em;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.sectionBodyInsert h4 {
    margin-top: 1em;
    margin-right: 0;
    font-size: 1em;
    text-align: left;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.rightSlideIn1s {
    animation: 1s rightSlide;
}
.rightSlideIn08s {
    animation: 1s rightSlide;
}
.rightSlideIn12s {
    animation: 1.2s rightSlide;
}
.rightSlideIn14s {
    animation: 1.4s rightSlide;
}


@keyframes rightSlide {
    0% {opacity: 0.2; transform: translateX(100%);}
    100% {opacity: 1; transform: translateX(0%);}
}

@keyframes leftSlide {
    0% {opacity: 0.2; transform: translateX(-100%);}
    100% {opacity: 1; transform: translateX(0%);}
}

.leftSlideIn06s {
    animation: 0.6s leftSlide;
}


.videoContainer {
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 7px 10px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 7px 10px rgba(0,0,0,0);
    z-index: 1;
    position: relative;
	margin: 50px auto 20px auto;

	height: 203px;
	width: 360px;


	padding: 0;
}

.imgHighlight {
	margin: 1em;
    width: 180px;
    height: 120px;
    object-fit:contain;
    border: 2px solid #707070;
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

.imgProfile {
    border-radius: 50%;
    width: 200px;
    margin: 0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 17px 24px rgba(0,0,0,0.22); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 17px 24px rgba(0,0,0,0.22);
}

.imgLogo {
    width: 20px;
    float: right;
    height: auto;
}

.headerBar h1 {
    font-size: 1.4em;
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
}

.titlebig {
    display: block;
}

.titleSmall {
    display: none;
}

.indentH1 {
	display: block;
	text-indent: 5em;
}

.introSpace {
	margin: 50px auto;
	padding: 10px;
	font-family: "GT Pressura", "Roboto", Courier;
	font-size: 1.5em;
	color: transparent;
	background: #666666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.h1Div {
    width: 100%;
    margin: -5px auto -5px auto;
    position: relative;
    border-radius: 5px;
	max-width: 540px;
}

@media only screen and (max-width: 576px) {

    .sectionBody {
        border: none;
    }
    .titleBig {
        display: none;
    }

    .titleSmall {
        padding: 5px;
        display: block;
    }
	.introSpace {
		font-size: 1em;
	}
        
}

@media only screen and (max-width: 992px) {

    .imgHighlight {
        width: 150px;
        height: 100px;
    }
}



.headerBar h2 {
    font-size: 0.9em;
    font-family: "Ink Free", "Kalem", cursive, script;
}

.pageSection1 {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.pageSection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.socialImg {
    width: 30px;
    height: 31px;
    margin: 2px auto;
    display: block;
}

.nate-forms input {
    border: 2px solid #86888B;
    border-radius: 0;
    font-size: 1em;
    height: 38px;
    font-family: serif;
    margin-left: 5px;
}

.nate-forms select {
    border-color: #86888B;
    border-radius: 0;
    height: 38px;
    font-family: serif;
    padding: 2px;
}

.nate-forms button {
    font-family: serif;
    border-radius: 0;
}

.nate-forms label {
    font-family: serif;
    padding: 0;
    margin: 0;
    font-size: 1em;
    padding-left: 6px;
}

.nate-remove-margin-bottom {
    margin-top: -0.6em;
}

.inkfree {
    font-family: "Ink Free", "Kalem", cursive, script;
}

.selected {
    text-shadow: 0px 0px 15px #707070;
}

.facebookImg {
    background: url("https://idontchop.com/images/portfolio-circles-export.png") -5px -4px;
}

.linkedinImg {
    background: url("https://idontchop.com/images/portfolio-circles-export.png") -46px -4px;
}

.githubImg {
    background: url("https://idontchop.com/images/portfolio-circles-export.png") -85px -3px;
}

.twitterImg {
    background: url("https://idontchop.com/images/portfolio-circles-export.png") -5px -37px;
}



